body {
  font-family: Arial;
  font-size: 25px;
  background-color: rgb(210, 210, 191);
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.startButton {
  font-weight: bold;
  font-size: 25px;
  background-color: rgb(136, 136, 135);
}
.time {
  text-align: right;
  padding: 20px;
}
.orderedList {
  padding-left: 48%;
  font-size: 18px;
}
.buttons {
  margin-left: 43%;
  font-size: 50px;
}
.message {
  font-size: 100%;
  text-align: center;
  color: gray;
  font-style: italic;
}
