body {
  font-family: Arial;
  font-size: 100%;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}
.time {
  text-align: right;
}
.orderedList {
  padding-left: 48%;
}
.buttons {
  margin-left: 46%;
}
