body {
  font-family: Arial;
  font-size: 25px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.time {
  text-align: right;
  padding: 20px;
}
.orderedList {
  padding-left: 48%;
}
.buttons {
  margin-left: 40%;
  font-size: 40px;
}
.message {
  font-size: 100%;
  text-align: center;
  color: gray;
  font-style: italic;
}
